# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/build/
/.idea/modules/app/
/.idea/shelf/Uncommitted_changes_before_Update_at_3_21_23,_6_07_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_3_21_23,_6_07_PM_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_3_21_23__6_07_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_3_21_23__6_07_PM__Changes_1.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_3_21_23,_6_07_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_3_21_23,_6_07_PM_[Changes]1/shelved.patch
